<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="{{STATIC_URL}}css/base.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/chosen.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="{{STATIC_URL}}js/base.js"></script>
  <script src="{{STATIC_URL}}js/chosen.jquery.min.js"></script>

  <title>{% block title %}Penn Course Planner{% endblock %}</title>

  <script type="text/javascript">
    $(document).ready(function() { 
      $(".chzn-select").chosen();
    });
  </script>

</head>

<body>

  <div id="title">
    <img src="http://www.seas.upenn.edu/~kevinsu/Logo.png" height="72" />
  </div>

  <br />

  <select data-placeholder="Find a class" class="chzn-select" multiple style="width: 350px;">
    <option value="test1">test1</option>
    <option value="test2">test2</option>
    <option value="test3">test3</option>
    <option value="test4">test4</option>
  </select>

  {% block content %}{% endblock %}

</body>

<footer>

</footer>

</html>
