{% extends "base.html" %}

{% block content %}

<div id="search">

  <div>Search for a Class:</div>

  <select id="search-dept" data-placeholder="Select a Dept" class="chzn-select" style="width: 150px;">
    <option value></option>
    {% for course in courses %}
    <option value="{{course}}">{{course}}</option>
    {% endfor %}
  </select>

  <select id="search-course" data-placeholder="Select a Class" style="width: 150px; display: none;">
    <option value></option>
  </select>
  
</div>

<div class="semester"></div>
<div class="recommended"></div>

{% endblock %}
